@import "../../global.scss";

.contact{
    min-height: 100vh;
}

.main-form{
    max-width: 1100px;
    padding: 10px;
    display: flex;
    border-radius: 12px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #1f2235;
    color: white;
    margin: 0px 20px;
}

.profile-icon-overhead{
    // display: flex;
    // flex-direction: column;
    .profile-icons{
        display: flex;
        justify-content: center;
    }

}

.back-form{
    max-width: 380px;
    margin: 0 auto;

}