 @import "../../global.scss";

 .about-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0 0 50px 0;
     background-color: #2f4353;
     background-image: linear-gradient(315deg, #09203f, #2f4353, #d2ccc4);
     background-size: 150% 150%;
     animation: gradient 10s ease-in-out infinite;
     height: 100vh;
     width: 100vw;
     position: relative;
     overflow: hidden;
 }

 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }

     50% {
         background-position: 100% 50%;
     }

     100% {
         background-position: 0% 50%;
     }
 }

 .heading {
     background-color: white;
     box-shadow: 0 2px 20px -2px #ffffff;
     width: 100%;
     height: 13%;
     min-height: 93px;
     overflow: hidden;
 }

 .about-parent {
     max-width: 810px;
     width: 70%;
     overflow: visible;
     height: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 .about-card {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 100%;
     box-shadow: 0 2px 20px -2px #ffffff;
     background-color: white;
     border-radius: 0% 0% 5% 5%;
     overflow: hidden;
     align-items: center;
     max-height: 876px;
 }

 .about-profile {
     background-image: url('../../assets/aboutme.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: bottom;
     min-width: 300px;
     height: 100%;
     width: 100%;
 }

 .about-info {
     display: flex;
     flex-direction: column;
     overflow: visible;
     width: 48%;
     height: 95%;
     padding: 0 15px 0 15px;
     justify-content: space-around;
 }

 @media screen and (min-width: $large-tablet){
     .about-info {
         padding: 15px 30px 30px 30px;
         width: 60%;
     }
 }

 .about-description {
     font-size: 14px;
     padding: 0;
     line-height: 1.8;
     overflow: visible;
 }

 .about-highlights {
     overflow: visible;
 }

 .about-small-heading {
     font-family: "Poppins Bold";
     font-size: 25px;
     margin: 0 0 15px 0;
 }

 .highlight {
     display: flex;
     align-items: center;
     margin: 10px 0;
     font-size: 14px;
 }

 //Phones with shorter screens
 @media screen and (min-width: 0) and (max-width: $mobile) {
     .about-parent {
         width: 90%;
         height: 80%;
     }

     .about-profile {
         background-image: url('../../assets/aboutme-horizontal.jpg');
         background-position: center;
         height: 30%;
         width: 100%;
     }

     .about-info {
         width: 90%;
         padding: 0px;
         height: 70%;
     }

     .about-card {
         flex-direction: column;
         align-items: center;
         width: 100%;
     }

     .heading-container {
         width: 100%;
     }

     .about-description {
         font-size: 11px;
         padding: 5px 0px;
         line-height: 1.6;
     }

     .about-small-heading {
         font-size: 19px;
     }

     .highlight {
         display: flex;
         align-items: center;
         margin: 10px 0;
         font-size: 11px;
     }
 }

 //Phones with taller screens
 @media screen and (min-width: $mobile) and (max-width: $large-mobile) {
     .about-parent {
         width: 90%;
         height: 85%;
     }

     .about-profile {
         background-image: url('../../assets/aboutme-horizontal.jpg');
         background-position: center;
         height: 30%;
         width: 100%;
     }

     .about-info {
         width: 90%;
         padding: 0px;
         height: 65%;
     }

     .about-card {
         flex-direction: column;
         align-items: center;
         width: 100%;
     }

     .heading-container {
         width: 100%;
     }

     .about-description {
         font-size: 14px;
         padding: 5px 0px;
         line-height: 1.6;
     }

     .about-small-heading {
         font-size: 25px;
     }

     .highlight {
         display: flex;
         align-items: center;
         margin: 10px 0;
         font-size: 14px;
     }
 }

 @media screen and (min-width: $large-mobile) and (max-width: $tablet) {
     .about-parent {
         width: 90%;
         height: 85%;
     }

     .about-profile {
         background-image: url('../../assets/aboutme-horizontal.jpg');
         height: 80%;
         background-position: center;
     }

     .about-info {
         width: 90%;
         padding: 0px;
         height: 65%;
     }

     .about-card {
         flex-direction: column;
         align-items: center;
         width: 100%;
     }

     .heading-container {
         width: 100%;
     }

     .about-description {
         font-size: 14px;
         padding: 5px 0px;
         line-height: 1.6;
     }

     .about-small-heading {
         font-size: 25px;
     }

     .highlight {
         display: flex;
         align-items: center;
         margin: 10px 0;
         font-size: 14px;
     }
 }

 @media screen and (min-width: $tablet) and (max-width: $large-tablet) {
     .about-parent {
         width: 90%;
         height: 85%;
     }

     .about-profile {
         background-image: url('../../assets/aboutme-horizontal.jpg');
         height: 80%;
         background-position: center;
     }

     .about-info {
         width: 90%;
         padding: 0px;
         height: 65%;
     }

     .about-card {
         flex-direction: column;
         align-items: center;
         width: 100%;
     }

     .heading-container {
         width: 100%;
     }

     .about-description {
         font-size: 18px;
         padding: 5px 0px;
         line-height: 1.6;
     }

     .about-small-heading {
         font-size: 28px;
     }

     .highlight {
         display: flex;
         align-items: center;
         margin: 10px 0;
         font-size: 18px;
     }
 }

 @media (min-width: 934px) and (min-height: 0px) {
    .about-parent {
        width: 90%;
        max-width: 1200px;
        height: 90%;
    }
    
    .about-description {
        font-size: 14px;
        padding: 5px 0px;
        line-height: 1.6;
    }

    .about-small-heading {
        font-size: 21px;
    }

    .highlight {
        display: flex;
        align-items: center;
        margin: 10px 0;
        font-size: 14px;
    }

    @media screen and (min-height: 901px){
        .about-parent {
            width: 80%;
            max-width: 1400px;
            height: 80%;
        }

        .about-description {
            font-size: 20px;
            padding: 5px 0px;
            line-height: 1.6;
        }
    
        .about-small-heading {
            font-size: 40px;
        }
    
        .highlight {
            display: flex;
            align-items: center;
            margin: 10px 0;
            font-size: 20px;
        }
    }
}

 .profile-options {
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
     height: auto;
     overflow: visible;

     .button-box {
         display: flex;
         overflow: visible;
         justify-content: space-between;
         min-width: 226px;
         max-width: 275px;

         a {
             overflow: visible;
         }

         button {
             border-radius: 50px;
             padding: 7px 0;
             width: 160px;
             cursor: pointer;
             transition: 0.2s;
             background-color: lightblue;
             border: 2px solid linen;
             font-size: 16px;
             overflow: visible;
             margin: 0;
         }

        @media screen and (min-width: 0) and (max-width: $mobile) {
             button {
                 width: 80px;
                 font-size: 10px;
                 padding: 6px 0;
             }
         }
        @media screen and (min-width: $mobile) and (max-width: $large-mobile) {
             button {
                 width: 90px;
                 font-size: 12px;
                 padding: 6px 0;
             }
         }
        @media screen and (min-width: $large-mobile) and (max-width: $tablet) {
             button {
                 width: 150px;
                 font-size: 18px;
                 padding: 6px 0;
             }
         }
        @media screen and (min-width: $tablet) and (max-width: $large-tablet) {
            button {
                width: 150px;
                font-size: 18px;
                padding: 10px 0;
            }
        }
        @media screen and (min-width: $large-tablet) and (max-width: $laptop) {
            button {
                width: 130px;
                font-size: 18px;
                padding: 5px 0;
            }
            @media screen and (max-height: 901px) {
                button {
                    width: 120px;
                    font-size: 16px;
                }
            }
        }
        
     }

     @media screen and (min-width: 0) and (max-width: $mobile) {
         .button-box {
             min-width: 190px;
         }
     }
     @media screen and (min-width: $large-mobile) and (max-width: $tablet) {
         .button-box {
             width: 70%;
             min-width: 350px;
         }
     }
     @media screen and (min-width: $tablet) and (max-width: $large-tablet) {
         .button-box {
             width: 70%;
             max-width: 380px;
         }
     }
     @media screen and (min-width: $large-tablet) {
        .button-box {
            width: 100%;
            max-width: 380px;
        }
     }
     button:hover {
         background-color: cornsilk;
         border: 1px solid black;
     }

     button:active {
         transform: translateY(2px);
     }
 }



